    body{
        font-family: "tahoma";
        font-size: 11pt;
        color: #6e6e6e;
        background-image:url('../imagenes/fondoApi.jpg');
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-color: #E5e5e5;
      }
      fieldset{
        border-radius: 10px;
        border-color: #dedede;
        border-style: solid;
        border-width: 2px;
        padding: 5px 5px 5px 5px;
        background-color:rgba(230,230,230,0.3);padding:10px;
        opacity: 96%;
      }
      legend{
        font-family: "tahoma";
        font-size: 11px;
        font-weight:bold;
        color:#FFF;
        border-radius: 10px;
        border-color: #dedede;
        border-style: solid;
        border-width: 2px;
        background-color: #004FBB;
        padding: 5px 5px 5px 5px;
        opacity: 0.90;
      }
      .anchoLegendLogin{
        width: 240px;
      }
      .anchoLegendUsuarios{
        width: 450px;
      }
      .anchoLegendEdicion{
        width: 600px;
      }
      .anchoLegendNotas{
        width: 450px;
      }
      .sombra{
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      }
      .imagenCentral{
        width: 80%;
        border-radius: 25px;
        padding: 5px 5px 5px 5px;
        background-color: #f2f2f2;
        opacity: 95%;
        -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,1);
        box-shadow: 10px 10px 5px -10px rgba(0,0,0,1);
      }
      .textos{
        font-family: "tahoma";
        font-size: 10pt;
        font-color: #6e6e6e;
        font-weight: bold;
        padding: 2px 2px 5px 2px;
      }
      .textosBlack{
        font-family: "tahoma";
        font-size: 10pt;
        font-color:#black;
        font-weight: bold;
        padding: 2px 2px 5px 2px;
      }
      .textosNormal{
        font-family: "tahoma";
        font-size: 10pt;
        font-color: #6e6e6e;
        /*font-weight: bold;*/
        padding: 2px 2px 5px 2px;
      }
      .textosError{
        font-family: "tahoma";
        font-size: 9pt;
        color: #6e0309;
        /*font-weight: bold;*/
        padding: 2px 2px 5px 2px;
      }
      .textosOk{
        font-family: "tahoma";
        font-size: 9pt;
        color: #414f5c;
        /*font-weight: bold;*/
        padding: 2px 2px 5px 2px;
      }
      .textosOkBold{
        font-family: "tahoma";
        font-size: 12pt;
        color: #414f5c;
        /* font-weight: bold; */
        padding: 2px 2px 5px 2px;
      }
      .textosCajas{
        font-family: "tahoma";
        size: 10pt;
        color:#7a7a7a;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
        border-color: #dedede;
        border-style: solid;
        border-width: 2px;
        width: 200px;
        height: 30px;
        opacity: 95%;
      }
      .textosHeaderTable{
        font-family: "tahoma";
        size: 10pt;
        color:#000000;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #dedede;
        height: 30px;
        opacity: 95%;
      }
      .textosSelect{
        font-family: "tahoma";
        size: 10pt;
        color:#7a7a7a;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
        border-color: #dedede;
        border-style: solid;
        border-width: 2px;
        width: 200px;
        height: 30px;
        opacity: 95%;
      }
      .botonAccion{
        font-family: "tahoma";
        font-weight: bold;
        font-size: 8pt;
        color:#f2f2f2;
        padding: 5px 5px 5px 5px;
        border-radius: 20px;
        border-color: #f2f2f2;
        border-style: solid;
        border-width: 1px;
        width: 150px;
        height: 32px;
        background-color: #d48e2c;
        opacity: 0.90;
      }
      .botonCancelar{
        font-family: "tahoma";
        font-weight: bold;
        font-size: 8pt;
        color:#FFF;
        padding: 5px 5px 5px 5px;
        border-radius: 20px;
        border-color: #f2f2f2;
        border-style: solid;
        border-width: 1px;
        width: 150px;
        height: 32px;
        background-color: #7b7b7b;
        opacity: 0.90;
      }
      .botonLimpiar{
        font-family: "tahoma";
        font-weight: bold;
        font-size: 8pt;
        color:#f2f2f2;
        padding: 5px 5px 5px 5px;
        border-radius: 20px;
        border-color: #f2f2f2;
        border-style: solid;
        border-width: 1px;
        width: 150px;
        height: 32px;
        background-color: #576c80;
        opacity: 0.90;
      }
      .botonEdicion{
        font-family: "tahoma";
        font-weight: bold;
        font-size: 8pt;
        color:#FFF;
        padding: 2px 2px 2px 2px;
        border-radius: 20px;
        border-color: #576c80;
        border-style: solid;
        border-width: 1px;
        width: 60px;
        height: 25px;
        background-color: #FFF;
        opacity: 0.90;
      }
      #frmEstudiantes{
            max-width:1300px;
            width:90%;
            position:relative;
            left:50%;
            top:10%;
            padding:40px;
            border-radius:4px;
            transform:translate(-50%,10%);
            color:#fff;
            box-shadow:3px 3px 4px rgba(0,0,0,.2)
    }
    #frmFuncionarios{
            max-width:1350px;
            width:90%;
            position:relative;
            left:50%;
            top:10%;
            padding:40px;
            border-radius:4px;
            transform:translate(-50%,10%);
            color:#fff;
            box-shadow:3px 3px 4px rgba(0,0,0,.2)
    }
    #frmCursos{
            max-width:800px;
            width:90%;
            position:relative;
            left:50%;
            top:10%;
            padding:40px;
            border-radius:4px;
            transform:translate(-50%,10%);
            color:#fff;
            box-shadow:3px 3px 4px rgba(0,0,0,.2)
    }
    .titulosCabeceras{
        font-family: tahoma;
        color: #f2f2f2;
        font-size: 20pt;
        font-weight: bold;
    }
    code{
        font-family: "tahoma";
        font-size: 9pt;
        font-color: #6e0309;
        /*font-weight: bold;*/
    }